<div id="edit" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="edit-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Close()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="edit-modal-label">Update User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-firstname" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-Name" name="Name" placeholder="Name" ng-model="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-firstname" class="col-sm-2 control-label">First LastName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-FirstLastName" name="FirstLastName" placeholder="First Last Name" ng-model="FLastName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lastname" class="col-sm-2 control-label">Second LastName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-SecondLastName" name="SecondLastName" placeholder="Second Last Name" ng-model="SLastName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-address" class="col-sm-2 control-label">Nick</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-Nick" name="Nick" placeholder="Nick" ng-model="Nick">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-salary" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-Password" name="Password" placeholder="Password" ng-model="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-dob" class="col-sm-2 control-label">Birth Date</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-BirthDate" name="mobile" placeholder="Birth Date" ng-model="BirthDate" required> [ex: 1990-01-21]
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="Close()">Close</button>
                    <button type="submit" class="btn btn-primary" ng-click="Update()">Update</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>